@{
    Layout = null;
}


<div style="background-color: azure">
     <hgroup>
               <h1>Error.</h1>
               <h2>An error occurred while processing your request.</h2>
               <h2>Please LogIn first or check info which u provided</h2>
           </hgroup>
</div>
