@{
    ViewBag.Title = "About";
    
}
    <div class=" row col-md-8" style="margin-left: 15%">
        <h3 style="color: black;font-family: 'Comic Sans MS';color: green ">MiniMarket is a free local classifieds site. Sell anything
            from used cars to mobiles, furniture, laptops, clothing and more. Submit 
            ads for free. If you want to buy something - here you will find interesting
            items, cheaper than in the store. Start buying and selling in the most easy way
            on MiniMarket
        </h3>
    </div>
