@{
    ViewBag.Title = "Info Added";
}
@using FinalProject.Models;
<div class="row col-md-6" style="margin-left: 350px" >
    <label style="color: white">
        
           <p>@ViewBag.data.FirstName</p>Congrats you are now Part of our Family
    </label>
</div>